# Dependencies
node_modules/
.pnpm-store/

# Cloudflare & Wrangler local build files
.wrangler/
dist/
.dev.vars

# Environment variables & secrets
.env
.env.*
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*